# Nexla
NEXLA_TOKEN=replace_with_nexla_token

# OpenAI
OPENAI_API_KEY=replace_with_openai_api_key

# AkashML
AKASHML_API_KEY=replace_with_akashml_api_key

# Pomerium
POMERIUM_CLUSTER_TOKEN=replace_with_pomerium_cluster_token
